.container{
    background-color: white;
    padding:1rem;
    border-bottom: 1px #eeeeee solid;
    display: flex;
    cursor: pointer;
    min-width: 350px;
}

.container:hover{
    background-color: #F9F9F9;
}

.poster{
    margin-right: 1rem;
}

.poster img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 1rem;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.title{
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.summary{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6f6f6f;
}

.infoBottom{
    display: flex;
    align-items: center;
}

.commentCount{
    margin-right: 10px;
    color: #6f6f6f;
    padding: 0 8px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    height: 24px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.commentCount span{
    margin-right: 4px;
    min-width: 15px;
}

.usedFor{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: rgb(111,111,111);
    cursor: pointer;
}

.usedFor span:nth-child(1){
    border-right:  1px solid rgb(232,232,232);
    margin-right: 10px;
    padding-right: 10px;
}

.vote{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(232, 232, 232);
    color: #000;
    padding: 0 8px;
    width: 64px;
    height: 74px;
    background-color: white;
    cursor: pointer;
}

.vote:focus {
    background-color: white;
    border: 1px solid #F17F5E;
    color: #F17F5E;
}

.vote:focus div{
    color: #F17F5E;
    background-image: url("https://ph-static.imgix.net/upvote-burst-orange-black.png?auto=compress&format=auto") ;
    background-position: -336px 0;
    animation-name: voteButtonAnimation;
    animation-duration: 0.6s;
    animation-timing-function: steps(24);
}

.vote div{
    width: 15px;
    height: 15px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 351px 15px;
    background-image: url("https://ph-static.imgix.net/upvote-burst-white.png?auto=compress&format=auto");

}

@keyframes voteButtonAnimation {
    from{
        background-position: 0 0;
    }
    to{
        background-position: -336px 0;
    }
}


.vote span{
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
}

.vote:hover{
    background-color: #efefef;
}

@media only screen and (max-width: 600px)   {
    .vote{
        border: 0;
        border-left: 1px solid rgb(232,232,232);
        margin-left: 0.5rem;
    }
}